[submodule "Components/website"]
	path = Components/website
	url = git@github.com:AnaSeahawk/website.git
[submodule "Components/mother-spirit-webpage"]
	path = Components/mother-spirit-webpage
	url = git@github.com:AnaSeahawk/mother-spirit-webpage.git
[submodule "Components/wiki"]
	path = Components/wiki
	url = git@github.com:AnaSeahawk/wiki.git
[submodule "Components/the-vessel"]
	path = Components/the-vessel
	url = git@github.com:AnaSeahawk/the-vessel.git
